h1 {
    font-family: "Open-sans", serif; 
}

h3 {
font-family: "Open-sans", serif; 
}

body {
font-family: "Open-sans", serif; 

}





.first-job {
font-family: "Open-sans", serif; 
font-weight: bold;

}

.second-job {
font-family: "Open-sans", serif; 
font-weight: bold;
}

.third-job {
font-family: "Open-sans", serif; 
font-weight: bold;
}

.fourth-job {
font-family: "Open-sans", serif; 
font-weight: bold;
}

